# LAB | Feature Engineering

**Load the data**

In this challenge, we will be working with the same Spaceship Titanic data, like the previous Lab. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In [16]:
#Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [2]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

**Check the shape of your data**

In [3]:
#your code here

spaceship.shape

(8693, 14)

**Check for data types**

In [4]:
#your code here

spaceship.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

**Check for missing values**

In [5]:
#your code here

spaceship.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

There are multiple strategies to handle missing data

- Removing all rows or all columns containing missing data.
- Filling all missing values with a value (mean in continouos or mode in categorical for example).
- Filling all missing values with an algorithm.

For this exercise, because we have such low amount of null values, we will drop rows containing any missing value.

In [7]:
#your code here

spaceship_clean = spaceship.dropna()

In [8]:
spaceship_clean

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

- **Cabin** is too granular - transform it in order to obtain {'A', 'B', 'C', 'D', 'E', 'F', 'G', 'T'}

In [9]:
#your code here

spaceship_clean['Cabin_Deck'] = spaceship_clean['Cabin'].str[0]

print(spaceship_clean['Cabin_Deck'].unique())

['B' 'F' 'A' 'G' 'E' 'C' 'D' 'T']

C:\Users\Usuario\AppData\Local\Temp\ipykernel_3212\4073162988.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spaceship_clean['Cabin_Deck'] = spaceship_clean['Cabin'].str[0]

- Drop PassengerId and Name

In [10]:
#your code here

spaceship_clean = spaceship_clean.drop(['PassengerId', 'Name'], axis=1)

print(spaceship_clean.columns)

Index(['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age', 'VIP',
       'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Transported', 'Cabin_Deck'],
      dtype='object')

- For non-numerical columns, do dummies.

In [13]:
#your code here

spaceship_final = pd.get_dummies(spaceship_clean, columns=['HomePlanet', 'CryoSleep', 'Destination', 'VIP', 'Cabin_Deck'], drop_first=True)

print(spaceship_final.head())

y = spaceship_final['Transported']

X = spaceship_final.drop(['Transported', 'Cabin'], axis=1)

   Cabin   Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck  \
0  B/0/P  39.0          0.0        0.0           0.0     0.0     0.0
1  F/0/S  24.0        109.0        9.0          25.0   549.0    44.0
2  A/0/S  58.0         43.0     3576.0           0.0  6715.0    49.0
3  A/0/S  33.0          0.0     1283.0         371.0  3329.0   193.0
4  F/1/S  16.0        303.0       70.0         151.0   565.0     2.0

   Transported  HomePlanet_Europa  HomePlanet_Mars  ...  \
0        False               True            False  ...
1         True              False            False  ...
2        False               True            False  ...
3        False               True            False  ...
4         True              False            False  ...

   Destination_PSO J318.5-22  Destination_TRAPPIST-1e  VIP_True  Cabin_Deck_B  \
0                      False                     True     False          True
1                      False                     True     False         False
2                      False                     True      True         False
3                      False                     True     False         False
4                      False                     True     False         False

   Cabin_Deck_C  Cabin_Deck_D  Cabin_Deck_E  Cabin_Deck_F  Cabin_Deck_G  \
0         False         False         False         False         False
1         False         False         False          True         False
2         False         False         False         False         False
3         False         False         False         False         False
4         False         False         False          True         False

   Cabin_Deck_T
0         False
1         False
2         False
3         False
4         False

[5 rows x 21 columns]

**Perform Train Test Split**

In [14]:
#your code here

# Removing Original Cabin column before modeling
columns_to_drop = ['Cabin'] 

X = spaceship_final.drop(['Transported'] + columns_to_drop, axis=1, errors='ignore')

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [18]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

**Model Selection**

In this exercise we will be using **KNN** as our predictive model.

In [19]:
#your code here

# Initialize and train
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train_scaled, y_train)

# Evaluate the model
score = knn.score(X_test_scaled, y_test)
print(f"Model Accuracy: {score:.2%}")

Model Accuracy: 78.97%

- Evaluate your model's performance. Comment it

In [20]:
#your code here

knn.score(X_test, y_test)

c:\Users\Usuario\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2732: UserWarning: X has feature names, but KNeighborsClassifier was fitted without feature names
  warnings.warn(

0.5597579425113465

In [21]:
knn.score(X_train, y_train)

c:\Users\Usuario\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2732: UserWarning: X has feature names, but KNeighborsClassifier was fitted without feature names
  warnings.warn(

0.5571536714610144